# --- Database Configuration ---
MILVUS_ADDRESS=http://localhost:19530
# Format: username:password
MILVUS_TOKEN=your_username:your_password
MILVUS_ALIAS=test_alias

# --- Model Configuration ---
MODEL_TASK=feature-extraction
MODEL_NAME=Xenova/all-MiniLM-L6-v2
MODEL_DIMENSION=384
# Set to true only if environment supports CUDA
USE_GPU=false

# --- Data Configuration ---
DATASET_PATH=data/arxiv-metadata-oai-snapshot.json
DATASET_URL=https://www.kaggle.com/api/v1/datasets/download/Cornell-University/arxiv

# --- Kaggle Configuration ---
KAGGLE_USERNAME=your_kaggle_username
KAGGLE_KEY=your_kaggle_key

# --- Logging Configuration ---
# Options: debug, info, warn, error
PINO_LOG_LEVEL=info
PINO_LOG_FILE_PATH=server/logs/server.log

# --- Express Server Configuration ---
EXPRESS_PORT=3000